body{
    font-family: 'Manrope', sans-serif;
}
#filter{
    
    width: 16%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
}
#cardwraper{
  top: 0;
  right: 0px;
  margin-left: 230px;
}
.container {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  img {
    width: 100%;
    height: 300px;
    left: 0;
  }

  .button {
    position: absolute;
    width:100%;
    left:0;
    top: 250px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 100%;
    padding: 12px 48px;
    text-align: center;
    color:white;
    border: 2px solid white;
   /* background-color: rgb(255,112,53); */
    z-index: 1;
  }
  
  .container:hover .button {
    opacity: 1;
  }
  .btn{
     text-decoration: none;
  }
  #product{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
   
   
  }
  .card{
    
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .info{
    padding: 10px;
  }
  #mainpage{
    display: flex;
   
  
  }
  .category{
    color: rgb(143,143,143);
  }
  .price{
    color: rgb(255,112,53);
  }
  .discount{
    color: rgb(104,174,92);
  }
  #pagination{
    display: flex;
    height: 30px;
    width: 20%;
    margin-left: 230px;
    margin-top: 30px;
    justify-content: space-evenly;
    

  }
  #pagination>button{
    display: block;
   background-color: white;
   width: 70px;
  }
  #pagination>button:hover{
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
  }
  .btnright{
    display:block;
    margin:auto;
    width:90%;
    height: 30px;
    background-color: transparent;
    font-size: medium;
  }
  .btnright:hover{
    cursor:pointer;
    color: white;
    /* border: 5px solid white; */
    background-color: black;
  }
  @media screen and (max-width:700px) {
    #mainpage{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
      }
    #product{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 20px;
        border: 1px solid black;
       
      }
      #filter{
        display: none;
        /* margin: auto;
        width: 90%;
        display: flex;
        margin-bottom: 30px; */
    }
    
  #cardwraper{
    margin: auto;
    margin-top: 30px;
    top: 0;
    right: 80px;
  }
  }