body{
  font-family: 'Manrope', sans-serif;
}
#filter{
  
  width: 14%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  margin-top:180px;
}
#filter_1{
  
  width: 16%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  margin-top:118px;
}
#cardwraper{
top: 0;
right: 0px;
margin-left: 230px;
}
.container {
  position: relative;
  width: 100%;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  width: 100%;
  height: 300px;
  left: 0;
}

.button {
  position: absolute;
  width:100%;
  left:0;
  top: 250px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 100%;
  padding: 12px 48px;
  text-align: center;
  color:white;
  border: 2px solid white;
 /* background-color: rgb(255,112,53); */
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}
.btn{
   text-decoration: none;
}
#product{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap: 20px;
 
 
}

.card{
  
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.info{
  padding: 10px;
}
#mainpage{
  display: flex;
 

}
.category{
  color: rgb(143,143,143);
}
.price{
  color: rgb(255,112,53);
}
.discount{
  color: rgb(104,174,92);
}
#pagination{
  display: flex;
  height: 30px;
  width: 20%;
  margin-left: 230px;
  margin-top: 30px;
  justify-content: space-evenly;
  

}
#pagination>button{
  display: block;
 background-color: white;
 width: 70px;
}
#pagination>button:hover{
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
}
.btnright{
  display:block;
  margin:auto;
  width:90%;
  height: 30px;
  background-color: transparent;
  font-size: medium;
}
.btnright:hover{
  cursor:pointer;
  color: white;
  /* border: 5px solid white; */
  background-color: black;
}
#emptyCart {
  max-width: 400px;
  margin: 60px auto;
}
#emptyCart > img {
  width: 100%;
}
#emptyCart > h1 {
  text-align: center;
}
#emptyCart > p {
  text-align: center;
  color: rgb(124, 124, 124);
}
#emptyCart > div {
  width: 170px;
  margin: 10px auto;
}
#emptyCart > div > button {
  width: 100%;
  padding: 8px 2px;
  font-size: 16px;
  color: white;
  background-color: rgb(229, 57, 57);
  border: 1px solid rgb(229, 57, 57);
  cursor: pointer;
}
#emptyCart> div > button>a{
  text-decoration: none;
  color: white;
}

#cart {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
 
}
#cart>div{
  width: 70%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
#cart>div>img{
  width: 200px;
  height: 200px;
}

#cartItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qunt{
  display: block;
  width: 45px;
  height: 30Px;
  background-color: #fff;
  border-radius: 3px;
  font-size: large;

}
.qunt:hover{
  cursor: pointer;
  color: #fff;
  background-color: black;
}
#qunt{
  display: flex;
  width: 120px;
  height: 60px;
 justify-content: space-between;
 align-items: center;
}
#buy{
  background-color: rgb(243, 109, 60);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 3px;
}
#buy:hover{
  cursor: pointer;
  background-color: black;
  color:#fff;
  border: 2px solid black;
}
#remove{
 display: block;
 background-color:red;
 border: none;
 color:white;
 height:25px;
 width: 25px;
}
#remove:hover{
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  color: red;
}
#removebtn{
  margin-right: 0px;
  
  height: 200px;
}
.inputfeild{
 display: block;
 margin-bottom: 10px;
 width: 90%;
 height: 20px;
}
.crudbtn{
  display: block;
  background-color: skyblue;
  border: none;
  height: 30px;
  width: 95%;
  cursor: pointer;
  color: white;
}
#editbtn{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
#edit{
  background-color: rgb(5, 198, 5);
  display: block;
  height: 30px;
  border: none;
  color: white;
  width: 100px;
  cursor: pointer;
}
.delete{
  display: block;
  height: 30px;
  border: none;
  color: white;
  background-color:red;
  width: 100px;
  cursor: pointer;
}
@media screen and (max-width:700px) {
  #mainpage{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    
    }
  #product{
      display: grid;
      grid-template-columns:repeat(2,1fr);
      gap: 20px;
      border: 1px solid black;
     
    }
    #filter{
      display: none;
      /* margin: auto;
      width: 90%;
      display: flex;
      margin-bottom: 30px; */
  }
  
#cardwraper{
  margin: auto;
  margin-top: 30px;
  top: 0;
  right: 80px;
}
}


.nav-middle{
  width:100%;
  height: 80px;
  display:flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  /* position:fixed; */
 

  
}

.nav-middle > div > a > img{
  width:100%;
  height:75px;
 

}

form{
 height:40px;
 display: flex;
 align-items: center;
 background-color: #F5F5F5;


}
form > input{
width: 800px;
border: none;
font-size: 17px;
background-color: #F5F5F5;


}
#images img{
 width:30px;
 height:30px;
 margin-right: 10px;



}

form img{
width:20px;
height:20px;
}


#nav-left{
display:flex;
gap:20px;
margin-left: 20px;
font-size: 15px;

}
#nav-left a:hover{
color: red;
cursor: pointer;


}
#nav-right{
display:flex;
gap:20px;
margin-right: 20px;
font-size: 14px;


}
.navbar-1{
width:100%;
height: 40px;
display:flex;
align-items: center;
margin: auto;
justify-content: space-between;
box-sizing: border-box;
background-color: #F5F5F5;


}
#searchbar input{
  width:600px;
}
.navbar-1 a{
color:#362712;
text-decoration: none;


}
#nav-right a:nth-child(2){
color: #FF775A;
text-decoration: underline;


}
#edit_1{
width:17px;
height:17px;


}


.navbar-2{
width:100%;
height:40px;
display: flex;
justify-content: space-between;
align-items: center;
border: 2px solid #F5F5F5;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;


}
.navbar-2 > a{
text-decoration: none;
color: black;
font-size: 15px;
}


.footer{
width: 80%;
color: #F3F5F7;
padding-left: 50px;
padding-right: 50px;
box-sizing: border-box;
background-color: #F3F5F7;
margin-left:230px;
}
.top{
grid-template-columns: repeat(4,1fr);
display: grid;
gap: 20px;
padding-top: 40px;
padding-bottom: 30px;

}
.bottom{
grid-template-columns: repeat(3,1fr);
display: grid;
gap: 20px;
padding-bottom: 30px;
}
.top > div >h3{
color: black;
font-size: 13px;
}
.top > div > a > p{
color:  #888888;
text-decoration: none;
font-size: 13px;
}
.top > div > a{
text-decoration: none;
}

.top > div:nth-child(4) > a > img{
width:100%;
height:200px;
}
.bottom > div >h3{
color: black;
font-size: 13px;
}
.bottom > div > a > p{
color:  #888888;
font-size: 13px;
}
.bottom > div > a{
text-decoration: none;
}
.accept{
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
}
.accept > div >h3{
color: black;
font-size: 14px;
}
.accept > div > a > img{
width:100%;
height:70px;
}
.ending{
display: flex;
justify-content: space-between;
margin-top: 30px;
padding-bottom: 20px;
}
.ending > div{
display: flex;
gap:20px;
}
.ending > div > a > p{
text-decoration: none;
color: #888888;
font-size: 14px;
}
.ending > div > a{
text-decoration: none;
}

#accepting{
width: 90%;
height:100px;
}

