@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300&display=swap');

/* pooja css -1sr */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#login {
    background-image: url('https://entrackr.com/storage/2017/09/pepperfry-image__1505901195_150.242.73.142-1200x600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 78vh;
    background-attachment: fixed;
    padding: 7% 0px;
    
}

#login .container {
    width: 700px;
    height: 550px;
    background-color: burlywood;
    position: fixed;
    display: flex;
    margin-left: 250px;
    /* border:2px solid red; */
}


.leftSidePopUp {
    width: 250px;
    /* background-color: black; */
    padding: 1rem;
    background-image: linear-gradient(to bottom right, rgb(216, 102, 27), white);

}

.leftSidePopUp .whySide {
    margin: 10px 5px;
    color: whitesmoke;
}

.leftSidePopUp .whySide h2 {
    margin: 5px 10px;
}

.leftSidePopUp .whySide p {
    margin: 5px 10px;
}

.rightSidePopUp {
    background-color: #f7f7f7;
    width: 450px;
}

.rightSidePopUp .loginPage {
    margin: 10px 5px;
}

.rightSidePopUp .loginPage h1 {
    float: right;
}

.rightSidePopUp .loginPage #timeBar {
    cursor: pointer;
    color: rgb(216, 102, 27)

}

.rightSidePopUp .loginPage .userPanel {
    display: flex;
    color: rgb(112, 109, 109);

}

.rightSidePopUp .loginPage h3 {
    margin: 35px 10px;
    font-size: 20px;
}

.rightSidePopUp .loginPage h3 a {
    text-decoration: none;
    color: rgb(216, 102, 27)
}

.loginPage #loginH3 a {
    border-bottom: 3px solid rgb(216, 102, 27)
}

.rightSidePopUp .loginPage label {
    margin: 10px 35px;
    color: rgb(112, 109, 109);

}

.rightSidePopUp .loginPage input {
    width: 300px;
    height: 25px;
    margin: 5px 35px;
    padding: 8px 20px;
    outline: none;
}

.rightSidePopUp .loginPage #btn {
    width: 343px;
    height: 45px;
    margin: 30px 35px;
    text-transform: uppercase;
    font-size: 20px;
    /* background-color: #00afae; */
    background-color: rgb(216, 102, 27);
    border: 1px solid rgb(216, 102, 27);
    color: #f7f7f7;
    outline:none;

}

#home{
    color:white;
    text-decoration: none;;
}



.rightSidePopUp .loginPage a {
    margin: 10px 35px;
}

.rightSidePopUp .loginPage #or {
    margin: 0px 5px;
    font-size: 20px;
}

.loginPage .lines {
    margin: 3px 35px;
    display: flex;
    color: rgb(112, 109, 109);
}

.rightSidePopUp .loginPage .oneline {
    border-bottom: 1px solid rgb(112, 109, 109);
    width: 160px;
    margin-bottom: 7px;
}

.rightSidePopUp .loginPage .twoline {
    border-bottom: 1px solid rgb(112, 109, 109);
    width: 160px;
    margin-bottom: 7px;
}

.rightSidePopUp .loginPage #social {
    border: 1px solid rgb(112, 109, 109);
    padding: 8px 18px;
    width: 100px;
    /* height:100px; */
    margin: 0px 35px;
    text-decoration: none;
    color: rgb(112, 109, 109);
}

.signup {
    cursor: pointer;

}

.socialink {
    margin: 30px 0px;
}

.hr {
    border-bottom: 1px solid rgb(112, 109, 109);
    padding: 1px 0px;
    margin: 10px 35px;
}

.rightSidePopUp .loginPage #pTaglast {
    margin: 10px 35px;
    padding: 5px 0px;
    color: rgb(112, 109, 109);
    font-size: 15px;
}

.rightSidePopUp .loginPage #pTaglast a {
    margin: 0px;
    padding: 0px;
}

.socialink img {
    width: 15px;
    /* margin-top: px; */
}